.room {
  padding: 1rem 3rem;
  border-radius: 0.6rem;
  border: solid 0.1rem var(--color-faint-strong-up);
  background-color: var(--color-base-week);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
