.form {
    display: flex;
    flex-direction: column;
}

.form__title {
    align-self: center;
    margin-bottom: 1.5rem;
}

.form__label {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.form__button {
    margin-top: 5rem;
    align-self: center;
}
