.button {
  display: flex;
  align-items: center;
  border-radius: 0.6em;
  cursor: pointer;
  padding: 0.6rem 1rem;
  text-align: center;
  font-size: 1em;
  border: none;
  justify-content: center;
}

.button .button__text {
  padding: 0.3rem 2rem 0.3rem 2rem;
}

.button:not(span) {
  padding: 0.6rem;
}

.button:focus {
  outline: none;
}

.button_color_primary {
  --color-first: var(--color-accent-strong);
  --color-first--hover: var(--color-accent-strong-down);
  --color-first--active: var(--color-accent-strong-up);

  --color-second: var(--color-text-base-weak);
  --color-second--hover: var(--color-text-base-weak);
  --color-second--active: var(--color-text-base-weak);
}

.button_color_secondary {
  --color-first: var(--color-accent-weak);
  --color-first--hover: var(--color-accent-weak-down);
  --color-first--active: var(--color-accent-weak-up);

  --color-first-text: var(--color-text-faint-weak);
  --color-first-text--hover: var(--color-text-faint-weak-down);
  --color-first-text--active: var(--color-text-faint-weak-up);

  --color-second: var(--color-accent-strong);
  --color-second--hover: var(--color-accent-strong-down);
  --color-second--active: var(--color-accent-strong-up);
}

.button_type_filled {
  border: 1px solid var(--color-first);
  background-color: var(--color-first);
  border-color: var(--color-first);
  color: var(--color-second);
}

.button_type_filled:hover,
.button_type_filled:focus {
  background-color: var(--color-first--hover);
  border-color: var(--color-first--hover);
  color: var(--color-second--hover);
}

.button_type_filled:active {
  background-color: var(--color-first--active);
  border-color: var(--color-first--active);
  color: var(--color-second--active);
}

.button_type_filled:disabled {
  background-color: var(--color-first);
  border-color: var(--color-first);
  cursor: not-allowed;
  opacity: 0.4;
}

.button_type_filled svg {
  fill: var(--color-second);
}

.button_type_outline {
  border: 1px solid var(--color-first);
  background-color: unset;
  border-color: var(--color-first);
  color: var(--color-first-text, var(--color-first));
}

.button_type_outline:hover,
.button_type_outline:focus {
  border-color: var(--color-first--hover);
  color: var(--color-first-text--hover, var(--color-first--hover));
}

.button_type_outline:active {
  border-color: var(--color-first--active);
  color: var(--color-first-text--active, var(--color-first--active));
}

.button_type_outline:disabled {
  border-color: var(--color-first);
  cursor: not-allowed;
  opacity: 0.4;
}

.button_type_outline svg {
  fill: var(--color-first-text, var(--color-first));
}

.button_type_outline:hover svg,
.button_type_outline:focus svg {
  fill: var(--color-first-text--hover, var(--color-first--hover));
}

.button_type_outline:active svg {
  fill: var(--color-first-text--active, var(--color-first--active));
}
.button_type_flat {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--color-first-text, var(--color-first));
}

.button_type_flat:hover,
.button_type_flat:focus {
  border-color: var(--color-second--hover);
  background: var(--color-second--hover);
  color: var(--color-first-text--hover, var(--color-first--hover));
}

.button_type_flat:active {
  border-color: var(--color-second--active);
  background: var(--color-second--active);
  color: var(--color-first-text--active, var(--color-first--active));
}

.button_type_flat:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.button_type_flat svg {
  fill: var(--color-first-text, var(--color-first));
}

.button_type_flat:hover svg,
.button_type_flat:focus svg {
  fill: var(--color-first-text--hover, var(--color-first--hover));
}

.button_type_flat:active svg {
  fill: var(--color-first-text--active, var(--color-first--active));
}
