.roomList {
  box-sizing: border-box;
  height: 100%;
  padding: 2rem 3rem;
  background-color: var(--color-base-weak);
}

.toolbar {
  height: 8.4rem;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.toolbar__button {
  margin-left: auto;
}

.roomList__item {
  margin-bottom: 0.4rem;
}
