.paper {
  border-radius: 0.6rem;
  background-color: var(--color-base-week-down);
}

.paper_color_primary {
  box-shadow: 0 2px 24px 0 var(--color-shadow-primary);
  border: solid 1px var(--color-faint-strong-up);
}
