.modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dialog {
  padding: 2rem 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.dialog__button {
  margin-top: 3rem;
  min-width: 10rem;
}
