.room {
  padding: 1rem 3rem;
  border-radius: 0.6rem;
  border: solid 0.1rem var(--color-faint-strong-up);
  background-color: var(--color-base-week);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.room_actionLabel {
  visibility: hidden;
}

.room:hover {
  background-color: var(--color-faint-strong-up);
  cursor: pointer;
}

.room:hover .room_actionLabel {
  visibility: visible;
}
