.container {
  display: flex;
  justify-content: center;
  background-color: var(--color-base-week-down);
  height: 100%;
  align-items: center;
}

.paper {
  padding: 4rem 6.6rem 5rem;
  display: flex;
  flex-direction: column;
  min-width: 31rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  align-self: center;
  margin-bottom: 1.5rem;
}

.form__label {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

.form__button {
  margin-top: 5rem;
  align-self: center;
}
