.quiz__item {
  padding: 1rem 3rem;
  border-radius: 0.6rem;
  border: solid 0.1rem var(--color-line-faint-weak);
  background-color: var(--color-back-base-weak);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quiz__item:hover {
  cursor: pointer;
  background-color: var(--color-back-base-weak-up);
}

.quiz__item_selected {
  border-color: var(--color-line-accent-strong);
}

.quizzes__item {
  margin-bottom: 0.4rem;
}
