@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

@import-normalize;
html {
  font-size: 10px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

:root {
  --z-index--modal: 10;

  --color-shadow-primary: rgba(92, 141, 246, 0.2);

  --font-family-primary: "Lato", sans-serif;
  --font-family-secondary: "Lato", sans-serif;

  /*BASE*/

  --color-base-strong: #050505;
  --color-base-weak: #f8fbff;

  --color-back-base-weak-up: #e9eff7;
  --color-back-base-weak: #f8fbff;

  --color-text-base-weak: #f8fbff;

  /*FAINT*/
  --color-faint-strong-up: #a0aaba;
  --color-faint-strong: #8994a6;
  --color-faint-strong-down: #a5adbb;

  --color-faint-weak-up: #eceef5;
  --color-faint-weak: #f6f8fb;

  --color-text-faint-strong: #454b57;

  --color-text-faint-weak-up: #8193b8;
  --color-text-faint-weak: #93a0ba;
  --color-text-faint-weak-down: #a9b1c2;

  --color-line-faint-weak: #dbe3f3;

  /*ACCENT*/
  --color-accent-strong-up: #0054bf;
  --color-accent-strong: #0070ff;
  --color-accent-strong-down: #2e8aff;

  --color-accent-weak-up: #d4e6fc;
  --color-accent-weak: #ebf4ff;
  --color-accent-weak-down: #f2f6fa;

  --color-text-accent-strong: #0070ff;

  --color-line-accent-strong: #0070ff;

  /*COMPLEMENT*/
  --color-complement-strong: #8889e2;
  --color-complement-weak: #eeecfd;

  /*CRITIC*/
  --color-critic-strong: #f74545;
  --color-critic-weak: #fdeded;

  --color-line-critic-strong: #f74545;

  --color-text-critic-strong: #f74545;

  /*WARNING*/
  --color-warning-strong: #f8ae4f;
  --color-warning-weak: #fcebcf;

  /*SUCCESS*/
  --color-success-strong: #27ae60;
  --color-success-weak: #def8e9;
}
