@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

@import-normalize;
html {
  font-size: 10px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

:root {
  --z-index--modal: 10;

  --color-accent-week-up: rgb(92, 141, 246);
  --color-accent-week: #759bf7;

  --color-accent-strong: #5083f0;
  --color-accent-strong-down: rgba(92, 141, 246, 0.4);

  --color-faint-week-up: #a4b3d0;
  --color-faint-week: #cfd9ed;
  --color-faint-week-down: rgba(207, 217, 237, 0.4);

  --color-faint-strong-up: rgba(92, 141, 246, 0.1);
  --color-faint-strong: #8e9fc0;

  --color-base-week: #ffffff;
  --color-base-week-down: rgb(248, 251, 255);

  --color-base-strong: #050505;

  --color-error: #f3618d;

  --color-shadow-primary: rgba(92, 141, 246, 0.2);

  --font-family-primary: "Lato", sans-serif;
  --font-family-secondary: "Lato", sans-serif;
}
